services:
  mongodb:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"

  mosquitto:
    image: eclipse-mosquitto:2
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - mosquitto_data:/mosquitto/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - mongodb
      - redis
      - mosquitto
    volumes:
      - backend_data:/data
    command: >
        sh -c "
        python manage.py migrate &&
        gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 2
        "


  celery_worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - redis
      - mongodb
      - backend
    volumes:
      - backend_data:/data
    command: celery -A config.celery:celery_app worker -l INFO

  celery_beat:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - redis
      - mongodb
      - backend
    volumes:
      - backend_data:/data
    command: celery -A config.celery:celery_app beat -l INFO

  mqtt_consumer:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - mosquitto
      - mongodb
    command: python manage.py mqtt_consumer

  simulator:
    build:
      context: ./simulator
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - mosquitto
    command: python publisher.py

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE=http://localhost:8000/api
    depends_on:
      - backend
    command: npm run dev -- --host 0.0.0.0 --port 5173

volumes:
  mongo_data:
  backend_data:
  mosquitto_data:
